@use 'tailwindcss';

/* You can add global styles to this file, and also import other style files */

@import 'primeicons/primeicons.css';

:root {
  --p-font-family: system-ui, -apple-system, sans-serif;
}

body {
  margin: 0;
  font-family: var(--p-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--p-text-color);
}

.flex-header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  @apply dark:text-teal-700;
}

/* Shared Layout Classes */
.page-container {
  @apply md:p-2 xl:max-w-9/12 md:my-0 md:mx-auto md:max-w-10/12 w-full sm:px-2;

}

.flex-header {
  @apply flex md:justify-between items-center justify-around mb-4 mt-1;
}

.loading-container,
.error-container {
  @apply flex justify-center items-center p-2 gap-4;
}

.error-message {
  color: var(--p-red-500);
  background: var(--p-red-50);
  border: 1px solid var(--p-red-100);
  padding: 1rem;
  border-radius: 6px;
}

/* Global styles for readonly inputs to ensure high contrast and readability */
input[type='text'][readonly] {
  background-color: var(--p-surface-100);
  color: var(--p-text-color);
  border: 1px solid var(--p-surface-300);
  cursor: default !important;
  opacity: 1 !important;
  -webkit-text-fill-color: var(--p-text-color);
}
